<section class="profile">
    <p>Hello views/users/show.hbs</p>
    <h2>{{user.local.email}}</h2>
    {{#if user.questions}}
    <div class="questions">
        {{#each user.questions}}
        {{> 'question'}}
        {{/each}}
    </div>
    {{else}}
    <p>No questions yet</p>
    {{/if}}
</section>