<section class='form-container'>
    <h4>New Question</h4>
    <form action='/question' method='POST' class='question-form'>
    <p class='input-field'>
        <textarea name='question[content]' cols='30' rows='10' placeholder='Message'></textarea>
    </p>
    <p>
        <input type='submit' value='Question' class='btn waves-effect waves-light'>
    </p>
    </form>
</section>