{{!-- old one --}}

{{!-- <p class="question-form">
    Hello from views/question/new
    <form action='/question' method="POST">
        <input type='text' name='question[content]'></input>
        <input type="text" name='author'></input>
        <select name="" id="">
            {{#each users}}
            <option>{{email}}</option>
            {{/each}}
        </select>
        <button type="submit">Submit</button>
    </form>
</p> --}}


{{!-- new one --}}

<h3>hello from question/new!</h3>

<form action='/question' method="POST">

    <div class='form-group'>
        <p>Your Question:</p>
        {{!-- the two things it should be calling is author and content, dscribed by the application controller --}}

        {{!-- We think the problem is within our inputs, right here --}}
        <input name="question[content]" type="text" id="content">
    </div>

    <div class='form-group'>
        <p>Author:</p>
        <input name="question[email]" type="text" id="author" >
        <script>
            console.log(author)
        </script>
    </div>

    <input type="submit" value="Question" class="form-control" />

</form>


<select name="" id="">
    {{#each users}}
    <option>{{email}}</option>
    {{/each}}
</select>

