<p class="question-form">
    Hello from /question/new
    <form action='/question' method="POST">
        <input type='text' name='question[content]'></input>
        <input type="text" name='author'>HI</input>
    <button type="submit">Submit</button> 
    </form>
</p>