<p>Hello from views/app/index.hbs!</p>
{{#if questions}}
    <ul class="questions">
        {{#each questions}}
            <p>I am a question</p>
            {{> 'question'}}
        {{/each}}
    </ul>
{{/if}}