<<<<<<< HEAD
    <p>Hello from views/app/index.hbs!</p> 
{{!-- {{!-- {{#if questions}} --}}
=======
    <p>Hello from views/app/index.hbs!</p>
{{#if questions}}
>>>>>>> ef424858b4c2e0c672e0c5e8575217256361e82b
    <ul class="questions">
        {{#each questions}}
            {{> 'question'}}
        {{/each}}
    </ul>
{{/if}} --}}