<p>Hello from views/app/index.hbs!</p>
{{#if questions}}
    <ul class="questions">
        {{#each questions}}
            {{User.question}}
            <p>I am a questin</p>
            {{!-- {{> 'question'}} --}}
        {{/each}}
    </ul>
{{/if}}